<!--コメント欄-->
<div class="container">

  <div class="table-responsive-lg">
      <table class="table">
        <thead class="thead-light">
          <th>
            名前
          </th>
          <th>
            評価
          </th>
          <th>
            タイトル
          </th>
          <th>
            口コミ
          </th>
          <td></td>
        </thead>

        <!--　部分テンプレートのeach文の中身をパーシャルとして扱いコレクションオプションでレンダーすれば軽くなる（らしい）　要検討　-->
        <% test.assessments.each do |assessment| %>
        <tr>
          <td class="text-nowrap">
            <%= assessment.user.name %>
          </td>
          <td class="text-nowrap">
        <!--星評価 繰り返し文のためスクリプトは中に入れておかないと機能しない-->
            <div id="star-rate-<%= assessment.id %>"></div>
            <script>
              $("#star-rate-<%= assessment.id %>").raty({
                size: 36,
                starOff:  "<%= asset_path("star-off.png") %>",
                starOn : "<%= asset_path("star-on.png") %>",
                starHalf: "<%= asset_path("star-half.png") %>",
                half: true,
                readOnly: true,
                score: <%= assessment.rate %>
              });
            </script>
          </td>
          <td class="text-nowrap">
            <%= assessment.title %>
          </td>
          <td>
            <%= assessment.review %>
          </td>
          <td>
            <% if user_signed_in? %>
              <% if assessment.user_id == current_user.id %>
                <%= link_to "削除", test_assessments_path(id: assessment.id, test_id: test.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger text-nowrap" %>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to "削除", test_assessments_path(id: assessment.id, test_id: test.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger text-nowrap" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
  </div>
</div>
<!--ページネーション-->
<nav aria-label="ページャー">
  <ul class="pagination justify-content-center">
　　<%= paginate @assessments %>
  </ul>
</nav>

