<!--コメント欄-->
<div class="container" style="margin-top: 30px;">
  <%#= if assessment.present? %>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10">
      <table class="table">
        <tr class="active row">
          <th class="col-xs-2">
            名前
          </th>
          <th class="col-xs-2">
            評価
          </th>
          <th class="col-xs-1">
            タイトル
          </th>
          <th>
            口コミ
          </th>
          <td class="col-xs-1"></td>
        </tr>
        <% test.assessments.each do |assessment| %>
        <tr class="row">
          <td class="col-xs-2">
            <%= assessment.user.name %>
          </td>
          <td class="col-xs-2">
        <!--星評価 繰り返し文のためスクリプトは中に入れておかないと機能しない-->
            <div id="star-rate-<%= assessment.id %>"></div>
            <script>
              $("#star-rate-<%= assessment.id %>").raty({
                size: 36,
                starOff:  "<%= asset_path("star-off.png") %>",
                starOn : "<%= asset_path("star-on.png") %>",
                starHalf: "<%= asset_path("star-half.png") %>",
                half: true,
                readOnly: true,
                score: <%= assessment.rate %>
              });
            </script>
          </td>
          <td class="col-xs-1">
            <%= assessment.title %>
          </td>
          <td>
            <%= assessment.review %>
          </td>
          <td class="col-xs-1">
            <% if user_signed_in? %>
              <% if assessment.user_id == current_user.id %>
                <%= link_to "削除", test_assessments_path(id: assessment.id, test_id: test.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to "削除", test_assessments_path(id: assessment.id, test_id: test.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <%# end %>
</div>

