<body class="background_image">
  <%= render "tops/header" %>
  <div class="title">
    <h1>悩むより前へ</h1><br>
    <p>インターネットでお悩みの方へ</p>
    <p>数秒で終わる二者択一問題で悩み解決の手助けをします。</p>
    <%= link_to tests_path do %>
      <span class= "custom-btn">始める</span>
    <% end %>
    <%= link_to about_path do %>
      <span class= "custom-btn">使い方</span>
    <% end %>
  </div>

<!-- 新着順の診断をbxsliderで流す -->
  <ul class="bxslider">
    <% @arrival_tests.each do |test| %>
      <li>
        <%= link_to test_path(test) do %>
          <%= attachment_image_tag @test, :image_id, size: "280x190", format: "jpeg", fallback: "no_image.jpg", class: "img-radius" %>
          <h4><%= test.title %></h4>
        <% end %>
      </li>
    <% end %>
  </ul>
</body>