<div class="container">
  <%= render "admins/tops/header" %>
  <h3 class="admins_index">会員一覧</h3>

  <div class="row">
  	<table class="table table-bordered center">
      <thead>
        <th>会員ID</th>
        <th>会員</th>
        <th>メールアドレス</th>
        <th>有効ステータス</th>
      </thead>
		  <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= link_to "#{user.name}", edit_admins_user_path(id: user.id) %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.account %>
          </td>
    	</tr>
      <% end %>
    </table>
  </div>
</div>