<div class="container">
  <%= render "admins/tops/header" %>
  <h3 class="admins_index">お問い合わせ一覧</h3>
  <div align="left">
    <%= link_to admins_inquiries_unread_path do %>
      <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="row">
  	<table class="table table-bordered center">
      <thead>
        <th></th>
        <th>ニックネーム</th>
        <th>タイトル</th>
        <th>要望ステータス</th>
      </thead>
		  <% @inquiries.each do |inquiry| %>
        <tr>
          <td>
            <%= inquiry.read %>
          </td>
          <td>
            <%= inquiry.user.name %>
          </td>
          <td>
            <%= link_to "#{inquiry.title}", admins_inquiry_path(id: inquiry.id) %>
          </td>
          <td>
            <%= inquiry.demand %>
          </td>
    	</tr>
      <% end %>
    </table>
  </div>
</div>

<!--ページネーション-->
<nav aria-label="ページャー">
  <ul class="pagination justify-content-center">
　　<%= paginate @inquiries %>
  </ul>
</nav>
