<div class="container">
  <%= render "admins/tops/header" %>
  <div class="row">
    <h3 class="admins_index">診断編集</h3>
  </div>

<!-- 診断詳細新規作成フォーム、だけど質問数の変更による解答順の変動に対応するために流用（コードを増やしたくなかった） -->
  <%= render "admins/tests/form", test: @test, detail: @details, categories: @categories, patterns: @patterns %>

<!-- 診断結果フォーム -->
  <%= form_with model: @test, url: admins_test_path(@test), local: false do |f| %>
    <div class="admins_index">
      <h3>診断結果</h3>
      <i>(質問を増やしたら必ず解答順を計算するボタンを押しましょう)</i>
    </div>
    <div class="row">
      <div class="col">
        <%= f.fields_for :results do |result| %>
          <%= render "result_fields", f: result %>
        <% end %>
      </div>
    </div>
    <i class="fa fa-plus-square" aria-hidden="true">
      <%= link_to_add_association "追加", f, :results %>
    </i>

    <div>
      <%= f.submit "プレビュー" %>
    </div>
  <% end %>
</div>