<div class="container">
  <%= render "admins/tops/header" %>
  <h3 class="admins_index">診断一覧</h3>
  <%= link_to new_admins_test_path do %>
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  <% end %>

  <div class="row">
  	<table class="table table-bordered center">
      <thead>
        <th>診断ID</th>
        <th>診断名</th>
        <th>ジャンル</th>
        <th>平均評価</th>
        <th>公開ステータス</th>
      </thead>
		  <% @tests.each do |test| %>
        <tr>
          <td>
            <%= test.id %>
          </td>
          <td>
            <%= link_to "#{test.title}", admins_test_path(id: test.id), data: {"turbolinks" => false} %>
          </td>
          <td>
            <%= test.category.name %>
          </td>
          <td>
            <div id="star-rate-<%= test.id %>"></div>
            <!--indexの一覧評価を平均値で出す。round関数で切り上げている。0.5毎にする方法は後で考える-->
            <script>
            $("#star-rate-<%= test.id %>").raty({
              size: 36,
              starOff: "<%= asset_path("star-off.png") %>",
              starOn: "<%= asset_path("star-on.png") %>",
              starHalf: "<%= asset_path("star-half.png") %>",
              half: true,
              readOnly: true,
              score: "<%= test.assessments.average(:rate).to_f.round(1) %>",
              });
            </script>
          </td>
          <td>
            <%= test.disclose %>
          </td>
    	  </tr>
      <% end %>
    </table>
  </div>
</div>

<!--ページネーション-->
<nav aria-label="ページャー">
  <ul class="pagination justify-content-center">
　　<%= paginate @tests %>
  </ul>
</nav>
