<div class="container">
  <%= render "tops/header" %>
  <h3>お問い合わせ</h3>
  <%= form_with url:inquiries_path(@inquiry), local: true do |f| %>

<!-- 件名 -->
    <div class="form-group row">
      <%= f.label :title, "件名(５文字以上３０文字以内)", class:'col-md-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

<!-- 診断追加希望なのか診断改善希望なのかラジオボタン -->
    <div class="form-group row">
      <%= f.label :demand, "要望内容", class:'col-md-3 col-form-label' %>
      <div class="form-check form-check-inline">
        <%= f.radio_button :demand, "improvement", class: "form-check-input", checked: true %>
        <label class="form-check-label">改善要望</label>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :demand, "addition", class: "form-check-input" %>
        <label class="form-check-label">追加要望</label>
      </div>
    </div>

<!-- 要望 -->
    <div class="form-group row">
      <%= f.label :content, "要望(１０文字以上２００文字以内)", class:'col-md-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_area :content, class: "form-control", rows:"10",placeholder: "お好きなように思いの丈を綴ってください！" %>
      </div>
    </div>

<!-- 既読ステータスはデフォルトで未読なので必要なし -->

<!-- 確認ボタン -->
    <div class="form-group row justify-content-end">
      <div class="col-xs-9">
        <%= f.submit '投稿する', class:"btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>