<header>
  <%= render "tops/header" %>
</header><!-- /header -->

<!-- 追従するサイドバー -->
<div class="sidebar">
    <%= render "tests/search", search: @search %>
</div>

<div class="container inline">
  <h1>診断一覧</h1>
  <div class="row card_box">

    <% @tests.each do |test| %>
      <div class="card">
        <div class="card_mask">
          <%= attachment_image_tag test, :image_id,format: 'jpeg', fallback: "no-image-mini.jpg", size: "200x200", class: "card-img-top" %>

          <!--説明文をマスクで表示させる。その上でマスク全体をリンクにする -->
          <%= link_to test_path(test.id), data: {"turbolinks" => false} do %>
            <div class="mask">
              <div class="caption"><%= truncate(test.caption, length: 15) %></div>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= test.title %></h4>

          <!-- PV数といいね数をiconに添えて -->
          <p class="card-text">
            <i class="fa fa-eye ">
              <%= test.impressionist_count(:filter=>:ip_address) %>
            </i>
            <i class="fa fa-heart" aria-hidden="true">
              <%= test.favorites.count %>
            </i>
          </p>

          <!-- 平均星評価 -->
          <div id="star-rate-<%= test.id %>"></div>
        </div>
      </div>

      <!--indexの一覧評価を平均値で出す。round関数で切り上げている。0.5毎にする方法は後で考える-->
      <script>
        $("#star-rate-<%= test.id %>").raty({
          size: 36,
          starOff: "<%= asset_path("star-off.png") %>",
          starOn: "<%= asset_path("star-on.png") %>",
          starHalf: "<%= asset_path("star-half.png") %>",
          half: true,
          readOnly: true,
          score: "<%= test.assessments.average(:rate).to_f.round(1) %>",
        });
      </script>
    <% end %>
  </div>
</div>

<!--ページネーション-->
<nav aria-label="ページャー">
  <ul class="pagination justify-content-center">
　　<%= paginate @tests %>
  </ul>
</nav>
