<header>
  <%= render "tops/header" %>
</header><!-- /header -->

<!-- 追従するサイドバー　シェアボタンとか載せたいなあ -->
<div class="sidebar">
  <div class="sticked">
  </div>
</div>

  <div class="container">
    <main role="main">

      <!-- ジャンボトロン -->
      <div class="jumbotron text-center">
          <div class="col-12">
            <%= attachment_image_tag @test, :image_id, size: "280x190", format: "jpeg", fallback: "no_image.jpg", class: "img-radius" %>
          </div>
          <ul class="col-12 bg-white">
            <li>
              <h3><%= @test.title %>
                <span id="favorite_button_<%= @test.id %>">
                  <%= render 'favorites/favorite', test: @test %>
                </span>
              </h3>
            </li>
            <li>
              <p><%= @test.caption %></p>
            </li>
          </ul>
        <%= link_to "診断を開始する", test_details_path(test_id: @test.id), class: "btn btn-success btn-lg" %>
      </div>

      <!-- コメント欄 -->
      <div class="row">
        <%= render partial: "assessments/test_review", locals: {test: @test} %>
      </div>
    </main>
</div>