<!-- 結果画面 -->

<div class="details_row border-bottom">
  <h1><%= @result.title %></h1>
</div>

<!-- 結果内容とつながりのあるyoutube動画を出す -->
<div class="row details_row">
  <div class="text-center col-6 embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @result.youtube_url.last(11) %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

<!-- 結果の詳細な説明文と結果に対するコメント -->
    <ul class="col-6">
      <li>
   	    <h3><%= @result.caption %></h3>
      </li>
      <li>
        <p class="text-right"><%= link_to "戻る", test_path(@test.id), data: {"turbolinks" => false} %></p>
      </li>
      <li>
        <%= render partial: "assessments/reviewform", locals: {test: @test, assessment: @assessment} %>
      </li>
    </ul>
  </div>

<!-- コメント一覧 -->
  <div class="details_row">
    <%= render partial: "assessments/test_review", locals: {test: @test} %>
  </div>
</div>