<h1><%= session[:quiz][:result].title %></h1>
<p><%= session[:quiz][:result].caption %></p>
<p><%= session[:quiz][:result].youtube_url %></p>

<%= render "assessments/test_review", test: @test %>
<%= render "assessments/reviewform", test: @test, user: @user %>