<header>
  <%= render "tops/header" %>
</header>

<div class="container text-center user_container">
  <h3 class="admins_index">パスワード変更</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row bottom">
    <div class="field col-5">
      <p><b>新しいパスワード</b></p>
      <i>(変更したくない場合は空白のままにして下さい)</i>
    </div>
    <div class="col-7">
      <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %>文字以上</em>
      <% end %>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-5">
      <p><b>パスワード再入力</b></p>
    </div>
    <div class="col-7">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-5">
      <p><b>現在のパスワード</b></p>
      <i>(パスワードの変更のためには現在のパスワードの入力が必要です)</i>
    </div>
      <div class="col-7">
      <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="field col-5"></div>
      <div class="col-3 flex">
        <div><%= f.submit "変更",class: "btn btn-primary" %></div>
        <div><%= link_to "戻る", :back,class: "btn btn-success" %></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
